{
  "env": {
    "browser": true,
  },
  "extends": ["plugin:zillow/recommended", "plugin:zillow/jest"],
  "rules": {
    "zillow/import/no-extraneous-dependencies": ["error", {"packageDir": ["./", "./packages/drywall"]}]
  }
}
